@tailwind base;
@tailwind components;
@tailwind utilities;


/* .no-scrollbar{
    ::-
} */

.slideInRight {
    animation: slideInRight 1s ease-in-out;
    transition: all 2s ease-in-out;
}

@keyframes slideInRight {
    from {
        left: 100%;
        opacity: 0
    }
}